In [1]:
# This notebook includes data cleaning and type correction steps

In [2]:
import pandas as pd

In [3]:
file_path = 'Data/postings.csv'
df = pd.read_csv(file_path)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

#### Data Cleaning - 1

In [5]:
df['expiry']

0         1.715990e+12
1         1.715450e+12
2         1.715870e+12
3         1.715488e+12
4         1.716044e+12
              ...
123844    1.716163e+12
123845    1.716164e+12
123846    1.716164e+12
123847    1.716165e+12
123848    1.716165e+12
Name: expiry, Length: 123849, dtype: float64

In [6]:
df['sponsored'].value_counts()

sponsored
0    123849
Name: count, dtype: int64

In [7]:
columns_to_drop = ['job_id', 'company_id', 'job_posting_url', 'application_url', 'expiry', 'closed_time', 'listed_time', 'sponsored', 'description']
df = df.drop(columns = columns_to_drop)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   company_name                122130 non-null  object
 1   title                       123849 non-null  object
 2   max_salary                  29793 non-null   float64
 3   pay_period                  36073 non-null   object
 4   location                    123849 non-null  object
 5   views                       122160 non-null  float64
 6   med_salary                  6280 non-null    float64
 7   min_salary                  29793 non-null   float64
 8   formatted_work_type         123849 non-null  object
 9   applies                     23320 non-null   float64
 10  original_listed_time        123849 non-null  float64
 11  remote_allowed              15246 non-null   float64
 12  application_type            123849 non-null  object
 13  formatted_experience_level  94440 non-null   object
 14  skills_desc                 2439 non-null    object
 15  posting_domain              83881 non-null   object
 16  work_type                   123849 non-null  object
 17  currency                    36073 non-null   object
 18  compensation_type           36073 non-null   object
 19  normalized_salary           36073 non-null   float64
 20  zip_code                    102977 non-null  float64
 21  fips                        96434 non-null   float64
dtypes: float64(10), object(12)
memory usage: 20.8+ MB

In [9]:
df.isnull().sum()

company_name                    1719
title                              0
max_salary                     94056
pay_period                     87776
location                           0
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
application_type                   0
formatted_experience_level     29409
skills_desc                   121410
posting_domain                 39968
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

#### Data Cleaning 2

In [10]:
df['currency'].value_counts()

currency
USD    36058
EUR        6
CAD        3
BBD        2
AUD        2
GBP        2
Name: count, dtype: int64

In [11]:
df['compensation_type'].value_counts()

compensation_type
BASE_SALARY    36073
Name: count, dtype: int64

In [12]:
df['zip_code'].value_counts()

zip_code
10001.0    2765
60601.0    1837
77002.0    1762
75201.0    1399
30303.0    1367
           ...
93210.0       1
6355.0        1
43517.0       1
60145.0       1
42134.0       1
Name: count, Length: 6989, dtype: int64

In [13]:
df['applies'].value_counts()

applies
1.0      7830
2.0      3351
3.0      2053
4.0      1395
5.0      1108
         ...
470.0       1
221.0       1
369.0       1
406.0       1
133.0       1
Name: count, Length: 274, dtype: int64

In [14]:
df['posting_domain'].value_counts()

posting_domain
www.click2apply.net                     3811
click.appcast.io                        2255
jsv3.recruitics.com                     1921
jobs.smartrecruiters.com                1557
boards.greenhouse.io                    1493
                                        ...
imec.csod.com                              1
www.witherscareers.com                     1
lattice.com                                1
barings.wd1.myworkdayjobs.com              1
fordfoundation.wd1.myworkdayjobs.com       1
Name: count, Length: 4443, dtype: int64

In [15]:
columns_to_drop = ['currency', 'compensation_type', 'normalized_salary', 'zip_code', 'fips', 'skills_desc', 'med_salary', 
                   'applies', 'posting_domain']
df = df.drop(columns = columns_to_drop)

In [16]:
df.isnull().sum()

company_name                    1719
title                              0
max_salary                     94056
pay_period                     87776
location                           0
views                           1689
min_salary                     94056
formatted_work_type                0
original_listed_time               0
remote_allowed                108603
application_type                   0
formatted_experience_level     29409
work_type                          0
dtype: int64

#### Data Cleaning 3

In [17]:
df['company_name'] = df['company_name'].fillna('Unknown')

In [18]:
df.isnull().sum()

company_name                       0
title                              0
max_salary                     94056
pay_period                     87776
location                           0
views                           1689
min_salary                     94056
formatted_work_type                0
original_listed_time               0
remote_allowed                108603
application_type                   0
formatted_experience_level     29409
work_type                          0
dtype: int64

In [19]:
df['remote_allowed'].value_counts()

remote_allowed
1.0    15246
Name: count, dtype: int64

In [20]:
df['remote_allowed'] = df['remote_allowed'].fillna(0)

In [21]:
df.isnull().sum()

company_name                      0
title                             0
max_salary                    94056
pay_period                    87776
location                          0
views                          1689
min_salary                    94056
formatted_work_type               0
original_listed_time              0
remote_allowed                    0
application_type                  0
formatted_experience_level    29409
work_type                         0
dtype: int64

#### Data Cleaning 4

In [22]:
df['views'] = df['views'].fillna(df['views'].median())
df['min_salary'] = df['min_salary'].fillna(df['min_salary'].median())

In [23]:
df.isnull().sum()

company_name                      0
title                             0
max_salary                    94056
pay_period                    87776
location                          0
views                             0
min_salary                        0
formatted_work_type               0
original_listed_time              0
remote_allowed                    0
application_type                  0
formatted_experience_level    29409
work_type                         0
dtype: int64

In [24]:
df['formatted_experience_level'].value_counts()

formatted_experience_level
Mid-Senior level    41489
Entry level         36708
Associate            9826
Director             3746
Internship           1449
Executive            1222
Name: count, dtype: int64

In [25]:
df = df.dropna(subset=['formatted_experience_level'])

In [26]:
df.isnull().sum()

company_name                      0
title                             0
max_salary                    71344
pay_period                    66486
location                          0
views                             0
min_salary                        0
formatted_work_type               0
original_listed_time              0
remote_allowed                    0
application_type                  0
formatted_experience_level        0
work_type                         0
dtype: int64

#### Clean pay_period

In [27]:
param_space = {
    'n_estimators': (50, 200),
    'max_depth': (5, 30),
    'min_samples_split': (2, 20),
    'min_samples_leaf': (1, 20)
}

df_impute = df[['views', 'company_name', 'location', 'formatted_work_type', 'remote_allowed', 'formatted_experience_level', 'pay_period', 
                'title', 'application_type']]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for column in ['company_name', 'location', 'formatted_work_type', 'formatted_experience_level', 'application_type', 'title']:
    le = LabelEncoder()
    df_impute.loc[:, column] = le.fit_transform(df_impute[column].astype(str))
    label_encoders[column] = le

df_train = df_impute.dropna(subset=['pay_period'])
df_missing = df_impute[df_impute['pay_period'].isna()]

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_classifier = RandomForestClassifier(random_state = 42)

In [30]:
X_train = df_train.drop(columns=['pay_period'])
y_train = df_train['pay_period']

In [31]:
from skopt import BayesSearchCV

optimize = BayesSearchCV(rf_classifier, param_space, n_iter = 20, random_state = 42, cv = 5, n_jobs = -1, verbose = 1)
optimize.fit(X_train, y_train)

print("Best hyperparameters:", optimize.best_params_)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Best hyperparameters: OrderedDict({'max_depth': 29, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 200})

In [32]:
predicted_pay_period = optimize.predict(df_missing.drop(columns = ['pay_period']))

In [33]:
df.loc[df['pay_period'].isna(), 'pay_period'] = predicted_pay_period

In [34]:
df.isnull().sum()

company_name                      0
title                             0
max_salary                    71344
pay_period                        0
location                          0
views                             0
min_salary                        0
formatted_work_type               0
original_listed_time              0
remote_allowed                    0
application_type                  0
formatted_experience_level        0
work_type                         0
dtype: int64

#### Clean max_salary

In [35]:
df_impute = df[['views', 'company_name', 'location', 'formatted_work_type', 'remote_allowed', 'formatted_experience_level', 'max_salary', 'title', 
                'application_type']]

label_encoders = {}
for column in ['company_name', 'location', 'formatted_work_type', 'formatted_experience_level', 'title', 'application_type']:
    le = LabelEncoder()
    df_impute.loc[:, column] = le.fit_transform(df_impute[column].astype(str))
    label_encoders[column] = le

df_train_max_salary = df_impute.dropna(subset=['max_salary'])
df_missing_max_salary = df_impute[df_impute['max_salary'].isna()]

In [36]:
from sklearn.ensemble import RandomForestRegressor

X_train_max_salary = df_train_max_salary.drop(columns=['max_salary'])
y_train_max_salary = df_train_max_salary['max_salary']

param_space = {
    'n_estimators': (50, 200),
    'max_depth': (5, 30),
    'min_samples_split': (2, 20),
    'min_samples_leaf': (1, 20)
}

optimize_max_salary = BayesSearchCV(RandomForestRegressor(random_state = 42), param_space, n_iter = 20, cv = 5, n_jobs = -1, verbose = 1)
optimize_max_salary.fit(X_train_max_salary, y_train_max_salary)

print("Best hyperparameters for max_salary:", optimize_max_salary.best_params_)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Best hyperparameters for max_salary: OrderedDict({'max_depth': 23, 'min_samples_leaf': 3, 'min_samples_split': 8, 'n_estimators': 131})

In [37]:
X_missing_max_salary = df_missing_max_salary.drop(columns=['max_salary'])
predicted_max_salary = optimize_max_salary.predict(X_missing_max_salary)

df.loc[df['max_salary'].isna(), 'max_salary'] = predicted_max_salary

In [38]:
df.isnull().sum()

company_name                  0
title                         0
max_salary                    0
pay_period                    0
location                      0
views                         0
min_salary                    0
formatted_work_type           0
original_listed_time          0
remote_allowed                0
application_type              0
formatted_experience_level    0
work_type                     0
dtype: int64

#### Push to a file

In [39]:
df.to_csv('Data/cleaned_postings.csv', index = False)